<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Submit Time", "SubmitTime", "HR")</li>
        <li>@Html.ActionLink("View Timesheet", "ViewTimesheet", "HR")</li>
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("View Policies", "Policies", "HR")</li>
        <li>@Html.ActionLink("Manage Policies", "ManagePolicies", "HR")</li>
        <li>@Html.ActionLink("Manage Categories", "ManageCategories", "HR")</li>
    </ul>
</li>
